<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bid Channels</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'dash.css' %}">
	<link rel="icon" href="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/66/000000/external-bid-finance-smashingstocks-outline-color-smashing-stocks.png">

	<link href="https://kit-pro.fontawesome.com/releases/v6.0.0/css/pro.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<nav>
			<a href="{% url 'sign_out' %}" class="logout-button"><i class="far fa-arrow-right-from-bracket"></i>&ensp;Logout</a>
			<a href="{% url 'download' %}"><i class="far fa-download"></i>&ensp;Download</a>
			<a href="{% url 'history' %}"><i class="far fa-rectangle-vertical-history"></i>&ensp;History</a>
			<a href="{% url 'dashboard' %}"><i class="far fa-clipboard-list-check"></i>&ensp;Dashboard</a>
		</nav>
		<div class="add-button">
			<a href="javascript:void(0)" id="add-button"><i class="far fa-plus"></i>&ensp;Add Channel</a>
		</div>
		<div class="channel-cards">
			{% for channel in channels %}
			<div class="channel-card">
				<a href="{% url 'channels_remove' channel.id %}"><i class="far fa-trash"></i>&ensp;Remove</a>
				<span>{{channel.name}}</span>
			</div>
			{% endfor %}
		</div>
	</div>
	<form action="{% url 'channels_add' %}" method="post" id="add-form">
		{% csrf_token %}
		<div class="form-cover"></div>
		<div class="form-group">
			<input type="text" placeholder="@Example" name="name">
			<button type="submit">Add</button>
		</div>
	</form>
</body>
<script src="{% static 'script.js' %}"></script>
</html>